# Wind Statistics

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [434]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

'\nYr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL\n61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04\n61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83\n61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71\n'

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [44]:
import pandas as pd
import datetime as dt

### Step 2. Import the dataset from this [address](https://github.com/guipsamora/pandas_exercises/blob/master/Stats/Wind_Stats/wind.data)

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [45]:
data = pd.read_csv("wind.data", sep="\s+")
data.head()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 15 columns):
Yr     6574 non-null int64
Mo     6574 non-null int64
Dy     6574 non-null int64
RPT    6568 non-null float64
VAL    6571 non-null float64
ROS    6572 non-null float64
KIL    6569 non-null float64
SHA    6572 non-null float64
BIR    6574 non-null float64
DUB    6571 non-null float64
CLA    6572 non-null float64
MUL    6571 non-null float64
CLO    6573 non-null float64
BEL    6574 non-null float64
MAL    6570 non-null float64
dtypes: float64(12), int64(3)
memory usage: 770.5 KB

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [47]:
data["Yr"] = data.Yr.astype("str")
data.head()
data["Yr"] = data.Yr.apply(lambda x: "19"+x)
data["Yr"] = data.Yr.astype("int")
data.head()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,1961,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,1961,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,1961,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,1961,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,1961,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [48]:
data["Date"] = pd.to_datetime(dict(year=data.Yr, month=data.Mo, day=data.Dy))
data.set_index("Date", inplace=True)

In [52]:
print(data.shape)
data.head()

(6574, 15)

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,,,,
1961-01-01,1961,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-02,1961,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1961-01-03,1961,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1961-01-04,1961,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1961-01-05,1961,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [53]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6574 entries, 1961-01-01 to 1978-12-31
Data columns (total 15 columns):
Yr     6574 non-null int32
Mo     6574 non-null int64
Dy     6574 non-null int64
RPT    6568 non-null float64
VAL    6571 non-null float64
ROS    6572 non-null float64
KIL    6569 non-null float64
SHA    6572 non-null float64
BIR    6574 non-null float64
DUB    6571 non-null float64
CLA    6572 non-null float64
MUL    6571 non-null float64
CLO    6573 non-null float64
BEL    6574 non-null float64
MAL    6570 non-null float64
dtypes: float64(12), int32(1), int64(2)
memory usage: 796.1 KB

In [50]:
data.isnull().sum()

Yr     0
Mo     0
Dy     0
RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [62]:
data.shape[0] - data.isnull().sum()

Yr     6574
Mo     6574
Dy     6574
RPT    6568
VAL    6571
ROS    6572
KIL    6569
SHA    6572
BIR    6574
DUB    6571
CLA    6572
MUL    6571
CLO    6573
BEL    6574
MAL    6570
dtype: int64

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [69]:
df = data[["RPT","VAL","ROS","KIL","SHA","BIR","DUB","CLA","MUL","CLO","BEL","MAL"]]
df.mean().mean()

10.227982360836924

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [71]:
loc_stats = pd.DataFrame()
loc_stats = df.describe()
loc_stats

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
count,6568.000000,6571.000000,6572.000000,6569.000000,6572.000000,6574.000000,6571.000000,6572.000000,6571.000000,6573.000000,6574.000000,6570.000000
mean,12.362987,10.644314,11.660526,6.306468,10.455834,7.092254,9.797343,8.495053,8.493590,8.707332,13.121007,15.599079
std,5.618413,5.267356,5.008450,3.605811,4.936125,3.968683,4.977555,4.499449,4.166872,4.503954,5.835037,6.699794
min,0.670000,0.210000,1.500000,0.000000,0.130000,0.000000,0.000000,0.000000,0.000000,0.040000,0.130000,0.670000
25%,8.120000,6.670000,8.000000,3.580000,6.750000,4.000000,6.000000,5.090000,5.370000,5.330000,8.710000,10.710000
50%,11.710000,10.170000,10.920000,5.750000,9.960000,6.830000,9.210000,8.080000,8.170000,8.290000,12.500000,15.000000
75%,15.920000,14.040000,14.670000,8.420000,13.540000,9.670000,12.960000,11.420000,11.190000,11.630000,16.880000,19.830000
max,35.800000,33.370000,33.840000,28.460000,37.540000,26.160000,30.370000,31.080000,25.880000,28.210000,42.380000,42.540000

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [78]:
df.apply(pd.DataFrame.describe, axis=1)

            count       mean       std    min      25%     50%      75%    max
Date
1961-01-01   11.0  13.018182  2.808875   9.29  10.5400  13.170  15.0000  18.50
1961-01-02   11.0  11.336364  3.188994   6.50   9.7300  10.830  13.2250  17.54
1961-01-03   11.0  11.641818  3.681912   6.17   9.3150  11.250  12.7300  18.50
1961-01-04   12.0   6.619167  3.198126   1.79   4.5700   5.855   9.1175  11.75
1961-01-05   12.0  10.630000  2.445356   6.17   9.8075  11.170  12.1700  13.33
1961-01-06   12.0   8.240000  2.998063   4.42   6.3450   7.810  10.1375  13.21
1961-01-07   12.0  10.385000  3.072114   4.96   8.2375   9.395  13.5725  14.29
1961-01-08   12.0  10.487500  3.547237   5.91   7.6200   9.685  11.7925  16.62
1961-01-09   12.0   9.897500  2.905954   4.75   7.9775  10.065  11.2675  15.37
1961-01-10   12.0  10.477500  3.442610   6.54   8.4875   9.355  11.5225  19.50
1961-01-11   12.0   9.625000  4.805082   2.79   7.4675   8.545  10.0475  20.71
1961-01-12   12.0  13.524167  3.375046   9.46  10.4975  13.085  15.5525  19.75
1961-01-13   12.0   4.277500  2.916349   0.58   2.3200   3.455   5.6975   9.92
1961-01-14   12.0   3.975833  2.788833   0.50   2.2800   2.895   6.0150   9.04
1961-01-15   12.0   6.695000  3.276740   2.37   4.3450   6.790   8.0725  12.04
1961-01-16   12.0  10.164167  3.521277   4.71   7.9900   9.145  11.7650  16.42
1961-01-17   12.0  13.621667  2.874739   8.71  11.2950  13.690  15.9600  17.75
1961-01-18   11.0  15.348182  4.128786   8.79  11.7100  16.710  18.2500  20.79
1961-01-19   12.0   4.111667  2.171325   1.04   2.7700   3.545   5.4075   7.83
1961-01-20   12.0   5.980000  3.017220   1.58   3.3200   5.750   7.9300  11.83
1961-01-21   12.0   9.302500  2.546210   6.13   7.5125   8.605  10.6675  14.33
1961-01-22   12.0   7.582500  2.485328   2.17   6.2250   7.270   9.6725  10.88
1961-01-23   12.0  14.034167  3.208592   9.96  12.1900  13.600  15.2275  20.58
1961-01-24   12.0  20.000833  4.178121  14.83  15.5950  19.880  23.5775  25.84
1961-01-25   12.0  10.965000  3.215017   6.04   9.1150  10.585  12.9075  17.50
1961-01-26   12.0  18.324167  3.639547  14.25  15.5425  18.145  19.4350  25.25
1961-01-27   12.0  19.845833  3.723692  16.13  17.2550  18.850  21.1025  27.63
1961-01-28   12.0  13.690833  3.444483   8.87  11.4825  12.790  15.6975  20.30
1961-01-29   11.0  22.024545  2.744060  17.54  20.1000  22.000  23.6450  27.71
1961-01-30   12.0  12.490833  3.513766   7.92  10.1375  11.690  13.4350  19.25
...           ...        ...       ...    ...      ...     ...      ...    ...
1978-12-02   12.0  10.975833  4.003148   5.13   8.9175  10.400  12.9575  19.95
1978-12-03   12.0  18.025000  3.829953  11.58  15.6650  17.480  21.2425  25.75
1978-12-04   12.0  10.293333  4.574457   1.71   7.4900  10.065  11.6250  17.96
1978-12-05   12.0  15.770833  4.054258   8.50  12.9500  15.125  18.8925  22.75
1978-12-06   12.0  23.283333  4.983313  16.04  20.3100  22.770  24.7475  34.46
1978-12-07   12.0  22.910000  4.542096  18.16  19.7075  22.270  24.7900  34.59
1978-12-08   12.0   9.108333  3.933222   3.37   6.4175   8.145  11.5725  17.33
1978-12-09   12.0  12.292500  3.774715   6.04   9.7100  10.915  15.3800  18.71
1978-12-10   12.0  17.910000  4.651189  13.00  14.4950  16.190  22.0750  26.08
1978-12-11   12.0  16.812500  3.177189  11.63  14.5925  17.040  18.5475  22.83
1978-12-12   12.0  13.400833  4.390385   8.29  10.5300  11.335  15.2600  23.13
1978-12-13   12.0  16.229167  4.573168   8.33  13.5625  14.730  19.4725  24.04
1978-12-14   12.0   9.551667  5.145011   3.37   5.8000   7.645  12.9800  19.75
1978-12-15   12.0   9.205833  4.513284   4.00   5.9700   7.295  12.7850  17.16
1978-12-16   12.0   9.245000  5.101314   2.46   5.7725   7.920  11.9100  18.08
1978-12-17   12.0   4.072500  3.193451   0.54   2.0225   2.855   5.7600   9.87
1978-12-18   12.0   8.820000  5.912305   1.00   5.5150   8.375  10.0925  19.79
1978-12-19   12.0   8.685000  4.289142   2.33   6.1275   8.145  10.4525  18.25
1978-12-20   12.0   5.025833  3.734645   0.42   2.9350   3.565   6.0125  12.38
1978-12-21   12.0   9.930833  4.495655   3.83   6.9750   9.125  11.9925  20.30
1978-12-22   12.0   7.000833  3.237337   2.46   5.0775   6.795   8.7650  13.08
1978-12-23   12.0  15.613333  3.850840   9.50  12.9875  15.395  17.4950  22.21
1978-12-24   12.0  10.823333  7.195039   4.79   5.8400  10.040  11.9700  31.71
1978-12-25   12.0   5.729167  3.583263   0.75   4.1025   5.230   7.3650  13.96
1978-12-26   12.0   6.523333  4.304510   1.96   3.0700   4.540  10.7225  13.83
1978-12-27   12.0  16.708333  7.868076   8.08  13.8025  15.025  17.3025  40.08
1978-12-28   12.0  15.150000  9.687857   5.00   9.0950  13.895  16.7000  41.46
1978-12-29   12.0  14.890000  5.756836   8.71  10.4775  14.210  17.0350  29.58
1978-12-30   12.0  15.367500  5.540437   9.13  12.3750  13.455  18.1850  28.79
1978-12-31   12.0  15.402500  5.702483   9.59  11.5300  12.080  19.5200  27.29

[6574 rows x 8 columns]

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [94]:
df2 = df[df.index.month==1]
df2.mean()

RPT    14.847325
VAL    12.914560
ROS    13.299624
KIL     7.199498
SHA    11.667734
BIR     8.054839
DUB    11.819355
CLA     9.512047
MUL     9.543208
CLO    10.053566
BEL    14.550520
MAL    18.028763
dtype: float64

### Step 12. Downsample the record to a yearly frequency for each location.

In [99]:
df.groupby(df.index.year).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,
1961,12.299583,10.351796,11.362369,6.958227,10.881763,7.729726,9.733923,8.858788,8.647652,9.835577,13.502795,13.680773
1962,12.246923,10.110438,11.732712,6.960440,10.657918,7.393068,11.020712,8.793753,8.316822,9.676247,12.930685,14.323956
1963,12.813452,10.836986,12.541151,7.330055,11.724110,8.434712,11.075699,10.336548,8.903589,10.224438,13.638877,14.999014
1964,12.363661,10.920164,12.104372,6.787787,11.454481,7.570874,10.259153,9.467350,7.789016,10.207951,13.740546,14.910301
1965,12.451370,11.075534,11.848767,6.858466,11.024795,7.478110,10.618712,8.879918,7.907425,9.918082,12.964247,15.591644
1966,13.461973,11.557205,12.020630,7.345726,11.805041,7.793671,10.579808,8.835096,8.514438,9.768959,14.265836,16.307260
1967,12.737151,10.990986,11.739397,7.143425,11.630740,7.368164,10.652027,9.325616,8.645014,9.547425,14.774548,17.135945
1968,11.835628,10.468197,11.409754,6.477678,10.760765,6.067322,8.859180,8.255519,7.224945,7.832978,12.808634,15.017486
1969,11.166356,9.723699,10.902000,5.767973,9.873918,6.189973,8.564493,7.711397,7.924521,7.754384,12.621233,15.762904
1970,12.600329,10.726932,11.730247,6.217178,10.567370,7.609452,9.609890,8.334630,9.297616,8.289808,13.183644,16.456027
1971,11.273123,9.095178,11.088329,5.241507,9.440329,6.097151,8.385890,6.757315,7.915370,7.229753,12.208932,15.025233
1972,12.463962,10.561311,12.058333,5.929699,9.430410,6.358825,9.704508,7.680792,8.357295,7.515273,12.727377,15.028716
1973,11.828466,10.680493,10.680493,5.547863,9.640877,6.548740,8.482110,7.614274,8.245534,7.812411,12.169699,15.441096
1974,13.643096,11.811781,12.336356,6.427041,11.110986,6.809781,10.084603,9.896986,9.331753,8.736356,13.252959,16.947671
1975,12.008575,10.293836,11.564712,5.269096,9.190082,5.668521,8.562603,7.843836,8.797945,7.382822,12.631671,15.307863
1976,11.737842,10.203115,10.761230,5.109426,8.846339,6.311038,9.149126,7.146202,8.883716,7.883087,12.332377,15.471448
1977,13.099616,11.144493,12.627836,6.073945,10.003836,8.586438,11.523205,8.378384,9.098192,8.821616,13.459068,16.590849
1978,12.504356,11.044274,11.380000,6.082356,10.167233,7.650658,9.489342,8.800466,9.089753,8.301699,12.967397,16.771370

### Step 13. Downsample the record to a monthly frequency for each location.

In [100]:
df.groupby(df.index.month).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,
1,14.847325,12.914560,13.299624,7.199498,11.667734,8.054839,11.819355,9.512047,9.543208,10.053566,14.550520,18.028763
2,13.710906,12.111122,12.879132,6.942411,11.551772,7.633858,11.206024,9.341437,9.313169,9.518051,13.728898,17.156142
3,13.158687,11.505842,12.648118,7.265907,11.554516,7.959409,11.310179,9.635896,9.700324,10.096953,13.810609,16.909317
4,12.555648,10.429759,12.204815,6.898037,10.677667,7.441389,10.221315,8.909056,8.930870,9.158019,12.664759,14.937611
5,11.724032,10.145619,11.550394,6.307487,10.224301,6.942061,8.797738,8.452903,8.040806,8.524857,12.767258,13.736039
6,10.451317,8.949704,10.361315,5.652278,9.529926,6.410093,8.009556,7.920796,7.639796,7.729185,12.246407,12.861818
7,9.992007,8.357778,9.349642,5.416935,9.302634,5.972348,7.843501,7.262760,7.544480,7.321416,11.676505,12.800789
8,10.213411,8.415143,9.993441,5.270681,8.901559,5.891057,7.772312,6.842025,7.240573,7.002783,11.110090,12.565943
9,11.458519,9.981002,10.756883,5.615176,9.766315,6.566222,8.609722,7.745677,7.610556,7.689278,12.686389,14.761963
10,12.660610,11.010681,11.453943,6.065215,10.550251,7.159910,9.387778,8.726308,8.347181,8.850376,14.155323,16.697151
11,13.200722,11.639500,12.293407,6.247611,10.501130,7.134333,10.814861,8.427167,8.604000,8.943167,13.815741,18.114185
12,14.446398,12.353602,13.212276,6.829910,11.301254,7.963710,11.849050,9.209355,9.447258,9.627670,14.259516,18.697599

### Step 14. Downsample the record to a weekly frequency for each location.

In [101]:
df.groupby(df.index.week).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,
1,13.920000,11.710880,12.853016,6.617302,10.473175,7.578492,11.623651,9.123600,9.272222,9.870635,14.241746,18.249841
2,15.549921,13.359524,14.016349,7.307698,12.183810,8.170238,11.934365,9.502460,9.428095,9.798175,14.494603,17.623413
3,14.950159,13.281349,13.166825,7.060794,11.959200,8.320238,11.856905,9.696825,9.597619,10.169444,14.578254,17.981190
4,15.241920,13.575317,13.554524,7.698413,12.110079,8.235159,11.732857,9.854048,9.822302,10.352063,14.892222,18.337381
5,14.559127,12.853413,13.070794,7.400952,11.823730,8.165397,11.995714,9.682381,9.854286,10.196111,14.667381,17.702222
6,13.203730,11.508492,12.142619,6.469127,11.025476,7.166746,11.115317,8.894206,9.323413,9.298175,13.903254,17.921587
7,14.517460,12.681349,13.219524,7.148160,12.141032,7.906190,11.390238,9.749524,9.417778,9.605476,13.776667,17.130159
8,13.422857,11.822937,13.367381,7.142400,11.480635,7.729683,11.329048,9.329762,9.247063,9.541984,13.132302,16.882540
9,12.761360,11.837460,12.627440,6.620000,10.937143,7.457778,10.622778,9.387778,8.864160,9.611508,13.724048,16.602080
10,13.526720,11.758095,13.151667,7.317063,11.477143,7.965397,10.751111,9.151825,9.367302,9.761429,13.055000,16.047381
11,13.597143,11.495079,13.032698,7.446270,11.689206,7.990238,11.444365,10.038968,9.783730,10.398730,13.823968,17.331280
12,13.006825,11.621032,12.579048,7.390476,11.850476,8.288095,12.008413,10.136746,10.176270,10.259048,14.389524,17.859365
13,12.772540,11.076349,12.104444,7.386640,11.664286,8.042063,11.306587,9.494365,9.977760,10.038571,14.241667,16.486508
14,13.903968,11.025238,14.149286,7.798968,11.482857,8.006905,11.525238,9.579921,9.894762,9.948175,13.386270,16.691349
15,12.599444,9.966667,11.654286,6.758175,10.642540,7.377778,10.677143,9.328413,9.248333,9.338413,12.842460,15.900476
16,12.753968,11.111587,11.966587,7.110000,10.983730,7.660794,9.981905,8.763571,8.802063,9.326905,12.472857,14.229524
17,10.966349,9.647698,11.272619,6.019286,9.627857,6.687063,8.870714,8.091825,7.836032,8.238333,11.971667,13.097460
18,12.897222,11.095079,11.256825,6.745794,11.035952,7.405238,9.318730,8.674206,8.340952,8.952857,12.928968,14.523810
19,13.061429,11.275159,12.630397,7.005238,10.944683,7.559603,9.624320,9.111349,8.604683,9.243254,13.721984,14.288016
20,11.338571,9.769200,11.566746,6.195238,9.967937,6.811429,8.732857,8.495317,7.984365,8.507540,12.740952,13.859286
21,11.282698,9.673889,11.223968,5.975680,10.051905,6.730476,8.435397,8.150556,7.871587,8.278413,12.536270,13.626825
22,9.673333,8.264683,10.382302,5.195397,8.696825,5.802063,7.275873,7.533016,7.120873,7.247222,11.238810,11.770317
23,10.092143,8.980556,10.030476,5.304048,8.882143,5.816825,7.420952,7.387857,7.031587,7.173810,11.605635,12.395476
24,10.131905,8.741984,10.518254,5.498492,8.997381,6.189762,7.320317,7.597143,7.172857,7.259524,11.835873,12.041270
25,11.680238,9.898016,10.730397,6.294444,11.030397,7.410952,9.410238,8.822698,8.728016,8.677063,13.494762,14.329841
26,10.036000,8.770635,10.113333,5.798492,9.680159,6.474603,8.226032,7.920556,7.906270,7.937778,12.462222,12.993840
27,9.991984,7.916984,8.741032,5.276825,8.998175,5.852302,7.817680,7.182143,7.662143,7.451349,11.582857,13.096984
28,9.962143,8.272619,9.651349,5.461270,9.344206,5.951111,7.937857,7.341746,7.671905,7.267063,11.450159,12.932460
29,10.281746,8.422063,9.755079,5.672778,9.766667,6.300238,8.277619,7.568175,7.725952,7.616349,12.021667,12.880476
30,9.760397,8.211984,9.181587,5.195476,8.920873,5.657222,7.566905,6.904603,7.078571,7.010317,11.410794,12.279683
31,9.721984,8.218571,9.585556,5.078651,8.940397,5.692857,7.470397,6.646746,7.039206,6.615556,11.020317,12.348492
32,10.202640,8.669683,9.357619,5.524206,9.143492,6.091984,7.518413,6.896190,7.409365,7.057840,11.154365,12.746587
33,10.213254,8.000476,10.086667,5.169127,8.638413,5.652619,7.635635,6.591746,7.033413,6.502460,10.647222,11.315680
34,10.675556,9.065317,10.466190,5.380635,9.343651,6.275317,8.164603,7.503889,7.753730,7.779206,11.881667,13.764762
35,10.378571,8.525476,10.496746,5.398571,8.739444,5.938968,8.088889,6.907857,7.063016,7.213175,11.606825,13.390873
36,10.764365,9.296190,9.931270,5.387381,9.245873,6.353810,8.314603,7.012857,7.449762,7.221905,11.597619,13.754921
37,11.371190,9.722857,10.963889,5.638810,9.603968,6.646587,8.698492,7.704841,7.532143,7.645952,12.658968,14.827540
38,9.929524,8.863095,10.245280,4.462080,8.346190,5.408175,7.285079,6.724640,6.387381,6.423095,11.394127,13.094921
39,13.960635,12.361920,11.787302,6.898095,11.971032,7.882540,10.012619,9.489206,8.933413,9.402540,14.980000,16.928095
40,12.199841,10.619127,11.392698,5.854048,10.308175,6.841508,9.301905,8.581111,8.561667,8.519524,13.326429,15.758095
41,12.260800,10.581508,11.316190,5.468889,9.998254,6.667460,8.667778,8.279444,7.782540,8.176825,13.550952,15.663571
42,12.777460,10.966587,11.381667,6.349048,10.716032,7.526032,9.941349,8.802222,8.460873,9.039286,14.088175,17.116111
43,13.358651,11.915238,11.888095,6.554286,11.363571,7.769524,10.170873,9.458889,8.925840,9.800873,16.055873,18.580952
44,13.338254,11.704444,12.378889,6.522857,10.578651,7.346746,9.806349,9.072063,8.721190,9.427222,14.410079,18.089048
45,13.292857,11.758968,12.691984,6.169048,10.683333,7.268968,10.657222,8.751429,8.747937,8.962302,13.990317,18.065794
46,14.081746,12.423571,13.064365,6.937619,11.509206,7.785794,11.578730,8.881587,9.058968,9.487302,14.063889,19.360873
47,11.731508,10.361667,11.107698,5.413968,9.200952,6.172540,10.071920,7.322222,7.690397,7.933095,12.399762,16.473254
48,13.843413,12.230159,12.048016,6.364762,11.060238,7.585952,11.483254,8.639048,8.944365,9.121190,14.481111,18.234365
49,14.685000,12.947222,12.649286,7.161984,11.855635,8.497937,12.840952,9.561905,10.218492,9.994524,15.140397,19.625714
50,14.462619,12.462619,12.750714,7.041349,11.603095,8.226508,11.780714,9.310635,9.301508,9.842698,14.716905,18.242937
51,13.639921,11.697619,12.501667,5.991270,10.541667,7.275159,10.301667,8.462619,8.438730,8.687937,13.298889,17.182063
52,14.469134,11.692283,14.210000,7.018189,10.856905,7.379213,12.011969,9.121811,9.665197,9.677953,13.549055,19.183228
53,12.694286,9.451905,13.526190,5.343810,8.040476,5.884286,10.366190,5.556190,6.954286,7.820952,11.028095,17.103810

In [104]:
df.head()
df.query("RPT==15.04")
### DataFrame.query robi niezła robote :)

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-05-16,15.04,10.17,15.25,5.17,12.92,6.79,8.38,11.12,9.46,9.17,12.00,13.70
1962-01-06,15.04,12.29,12.21,4.71,9.00,6.13,8.46,6.92,5.46,5.91,12.62,10.92
1963-02-02,15.04,14.37,26.34,10.71,12.71,8.33,15.16,11.08,9.42,9.46,9.25,15.25
1964-03-30,15.04,15.25,8.25,5.21,16.50,10.08,7.71,12.83,7.08,9.62,16.21,13.13
1968-04-19,15.04,14.29,14.92,10.37,13.83,10.54,10.58,10.63,9.29,11.12,13.62,14.54
1968-09-05,15.04,12.21,13.42,8.83,13.33,6.71,10.41,10.67,7.83,10.04,16.54,17.04
1975-04-03,15.04,11.54,17.58,8.04,9.29,7.08,11.79,9.08,12.04,14.83,15.16,25.62
1975-07-15,15.04,11.58,13.54,6.96,13.75,9.29,14.37,9.62,12.21,10.17,12.38,16.08
1978-03-01,15.04,6.21,16.04,7.87,6.42,6.67,12.29,8.00,10.58,9.33,5.41,17.00