# Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [87]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", delimiter = '\t')

### Step 4. See the first 10 entries

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [16]:
chipo.shape[0]
#chipo.info()

4622

### Step 6. What is the number of columns in the dataset?

In [13]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [18]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [19]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most ordered item?

In [35]:
chipo.head()
items = chipo.groupby(["item_name"])["order_id"].count().idxmax()
print(items)

Chicken Bowl

In [38]:
chipo.item_name.value_counts().head(1)

Chicken Bowl    726
Name: item_name, dtype: int64

### Step 10. How many items were ordered?

In [52]:
chipo.head()
chipo.item_name.nunique()

50

### Step 11. What was the most ordered item?

In [61]:
chipo.head()
chipo.choice_description.value_counts().head(1)
#chipo.choice_descripiton.value_counts()

[Diet Coke]    134
Name: choice_description, dtype: int64

### Step 12. How many items were orderd in total?

In [66]:
chipo.head()
chipo.quantity.sum()

4972

### Step 13. How much was the revenue for the period in the dataset?

In [100]:
chipo.head()
chipo['item_price_float'] = chipo.item_price.str.replace("$","").astype("float")
%precision 2
chipo.item_price_float.sum()

34500.16

### Step 14. How many orders were made in the period?

In [92]:
chipo.order_id.nunique()

1834

### Step 15. What is the average amount per order?

In [101]:
chipo.head()
orders = chipo.groupby("order_id")["item_price_float"].sum()
%precision 2
orders.mean()

18.81

### Step 16. How many different itens are sold?

In [103]:
chipo.head()
chipo.item_name.nunique()

50